.copy-div {
    background: #ffffff;    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.title-copy {
    margin-top: 50px;
    color: #011126;
    text-align: center;
    font-weight: 900;
    font-family: helvetica,sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    padding: 29px 30px 0px;
}

.primer-copy {
    margin-left: 280px;    
    margin-top: 30px; 
    margin-right: 280px; 
    color: #011126;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    border-radius: 5px;
    text-align: justify;
}



.cuarto-copy {
    margin-left: 280px;    
    margin-top: 50px; 
    margin-right: 280px; 
    color: #011126;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
    border-radius: 5px;
    text-align: justify;
}

.back-visa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.visa {
    margin-top: 20px;
    width: 600px;
    border: 1px solid #011126;
    margin-bottom: 40px;
}

@media only screen and (max-width: 1205px) {
    .title-copy {
        font-size: 35px;
    }
    
    .primer-copy {
        margin-left: 100px;    
        margin-right: 100px; 
    }
    
    .cuarto-copy {
        margin-left: 100px;    
        margin-right: 100px;    
    }

}

@media only screen and (max-width: 850px) {
    .title-copy {
        font-size: 30px;
    }
    
    .primer-copy {
        margin-left: 50px;    
        margin-right: 50px; 
        font-size: 20px;
    }

    .cuarto-copy {
        margin-left: 50px;    
        margin-right: 50px;    
        font-size: 20px;
    }


    .title-copy {
        margin-top: 50px;
    }

    .primer-pregunta {
        margin-top: 50px;
    }

    .visa {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
        border: 1px solid #011126;
    }
    
}

@media only screen and (max-width: 600px) {
    .title-copy {
        font-size: 25px;
    }
    
    .primer-copy {
        margin-left: 20px;    
        margin-right: 20px; 
        font-size: 18px;
    }
  
    .cuarto-copy {
        margin-left: 20px;    
        margin-right: 20px; 
        font-size: 18px;
    }

}