img.btn-telegram {
    display: block;
    position: fixed;
    z-index: 999;
    bottom: 70px;
    right: 20px;
    cursor: pointer;
    border-radius:100px;
    }

img.btn-telegram:hover{
    border-radius:100px !important;
    -webkit-box-shadow: 0px 0px 15px 0px #369dd2; 
    -moz-box-shadow: 0px 0px 15px 0px #369dd2;
    box-shadow: 0px 0px 15px 0px #369dd2;
    transition-duration: 1s;
} 